    <!-- Header -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.skills }}</span>
                    </div>
                </div>
                <div>
                    <a href="#" class="btn btn-lg btn-outline btn-spaced" id = "btn-left">
                        <i class="fa fa-handshake-o"></i> &nbsp; Pomoz
                    </a>
                    <a href="#" class="btn btn-lg btn-outline btn-spaced" id = "btn-right">
                        <i class="fa fa-heart"></i> &nbsp; Daruj
                    </a>
                    
                </div>
            </div>
        </div>
    </header>
