
    <nav class="navbar navbar-default navbar-fixed-top navbar-small" >
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <a class="navbar-brand" href="https://musing-shirley-286c20.netlify.com/#page-top">
                    <img src = "img/logo.png" class = "img-logo" id = "img-logo-left">
                    <img src = "img/a.png" class = "img-logo logo-spin">
                 </a>
            </div>
            <div class="collapse navbar-collapse" id = "toggle">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="https://musing-shirley-286c20.netlify.com/#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">{{ site.portfolio }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">{{ site.paragraph1 }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#solution">{{ site.paragraph2 }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">{{ site.contacts }}</a>
                    </li>
                
                    <li class="page-scroll">
                        <a href="https://compassionate-mcnulty-c170dd.netlify.com/">Ludia</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://laughing-galileo-6186e1.netlify.com/">Neziskovky</a>
                    </li>
                </ul>
            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    
