   <!-- Navigation -->
  


    <nav class="navbar navbar-default navbar-fixed-top" >
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>
                
                

            </div>
            <a class="navbar-brand" href="#page-top"> <img src = "img/logo.png" height, width = "30%" class = "img-logo" ><img src = "img/a.png" height, width = "7%" class = "img-logo logo-spin"></a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-items navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">{{ site.portfolio }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">{{ site.paragraph1 }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#solution">{{ site.paragraph2 }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">{{ site.contacts }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://compassionate-mcnulty-c170dd.netlify.com/">Ludia</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://laughing-galileo-6186e1.netlify.com/">Neziskovky</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
