<section class="success" id="services">
    <div class="container pad-bot-50 success">
        <div class="heading">
            <h1 class="animate fadeInRight">What we love to do</h1>
            <div class="divider animate fadeInLeft"><span></span></div>
            <p>We love programming and designing things.</p>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="service-item fadeInDown animate">
                    <div class="circle circle-l"><i class="fa fa-code fa-3x"></i></div>
                    <h3>Websites</h3>
                    <p class="font-m">We can make any website right for you.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service-item fadeInUp animate">
                    <div class="circle circle-l"><i class="fa fa-gear fa-3x"></i></div>
                    <h3>Apps</h3>
                    <p class="font-m">We do Android, iOS, Windows and Windows phone apps.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service-item fadeInUp animate">
                    <div class="circle circle-l"><i class="fa fa-gear fa-3x"></i></div>
                    <h3>Design</h3>
                    <p class="font-m">We can create you a new, fresh identity, including logo and an animated promo video.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service-item fadeInDown animate">
                    <div class="circle circle-l"><i class="fa fa-question fa-3x"></i></div>
                    <h3>Consulting</h3>
                    <p class="font-m">We can try to help you with any Computer-related problem.</p>
                </div>
            </div>
        </div>
    </div>
</section>
    
